<div class="question">
  <div class="question-body mb-sm">
    <%= question.body %>
  </div>

  <% if question.answer.present? %>
    <div class="mb-sm text-dark-red">
      <%= question.answer %>
    </div>
  <% end %>

  <div class="text-sm question-footer">
    <div class="text-grey">
      <%= l(question.created_at, format: :short)%>
      <span>был задан <%= question.author.present? ? (link_to display_nickname(question.author), user_path(question.author)) : '@Аноним' %></span>
    </div>

    <% if current_user == question.user %>
      <div>
        <% edit_icon = (question.answer.present?) ? 'pencil' : 'reply' %>
        <% edit_title = (question.answer.present?) ? 'Изменить вопрос' : 'Добавить ответ' %>
        <%= link_to fa_icon(edit_icon), edit_question_path(question), title: edit_title, class: 'mr-sm' %>
        <%= button_to fa_icon(question.hidden ? 'eye-slash' : 'eye'), "#{question_path(question)}/hide", method: :put, title: 'Cкрыть вопрос' %>
        <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос',
                      form: {data: {turbo_confirm: 'Точно удалить вопрос?'}}%>
      </div>
    <% end %>
  </div>
</div>
