<div class="user-box">
  <h2 class="title-lg mt-lg"><%= @user.name %></h2>
  <p class="text-bold mt mb-lg"><%= display_nickname(@user) %></p>
</div>

<% if @questions.any? %>
  <div class="container">
    <p class="mt">
      <%= render 'questions/form', question: @question %>
    </p>
  </div>

  <div class="container mt-sm ">
    <h2 class="title-lg">
      <%= @questions.count %>
      <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
    </h2>
  </div>

  <% @questions.each do |question|%>
    <div class="mt-sm container <%= 'opacity' if question.hidden %>">
      <%= render question %>
    </div>
  <% end %>
<% else %>
  <%= render partial: 'questions/no_question', locals: {user: @user}%>
<% end %>


